<footer>
    <div class="footer-main">
        <div class="f-copyright">
            SCSS&copy;
        </div>
    
        <div class="social-media">
            <div class="social-media-links"><a href="https://www.facebook.com/gunugu.lalithendra"><i class="fa-brands fa-square-facebook"></i></a></div>
            <div class="social-media-links"><a href=""><i class="fa-brands fa-x-twitter"></i></a></div>
            <div class="social-media-links"><a href="https://www.instagram.com/lalithendra_gunugu/"><i class="fa-brands fa-instagram"></i></a></div>
        </div>
    
        <div class="privacy-policy">
            <a href="">privacy policy</a>
            <a href="">Terms</a>
        </div>
    </div>
    
</footer>